name: Despliegue de Infraestructura y Restauración de Base de Datos

on:
  push:
    branches:
      - main  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: '1.3.0'  

      - name: Set up Azure credentials using Azure CLI login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          enable-AzPSSession: true 

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Restaurar Base de Datos (PowerShell)
        run: |
          sudo apt-get install -y pwsh  # Instalar PowerShell si no está instalado
          pwsh -Command "Invoke-Expression -Command 'sqlcmd -S <server_name> -U ${{ secrets.ADMIN_USERNAME }} -P ${{ secrets.ADMIN_PASSWORD }} -d <database_name> -i <restore_script.sql>'"
        
      - name: Verificar la conexión a la base de datos
        run: |
          sqlcmd -S <server_name> -U ${{ secrets.ADMIN_USERNAME }} -P ${{ secrets.ADMIN_PASSWORD }} -d <database_name> -Q "SELECT 1"
